<%- include("partials/header.ejs") %>

    <h1>
        Welcome to the Home Page
    </h1>

    <p>Here you can see all your journal entries</p>

    <% if (blogs.length> 0) { %>
        <ul>
            <% blogs.forEach(blog=> { %>
                <li>
                    <h2>
                        <%= blog.title %>
                    </h2>
                    <p>
                        <%= blog.content %>
                    </p>
                    <p>Created At: <%= blog.createdOn %>
                    </p>
                    <!-- Edit button -->
                    <button onclick="editBlog(<%= blog.id %>)">Edit</button>
                    <button onclick="deleteBlog(<%= blog.id %>)">Delete</button>

                </li>
                <% }); %>
        </ul>
        <a href="/form"><button>Create New Blog</button></a>

        <% } else { %>
            <a href="/form"><button>Add your First Blog</button></a>
            <% } %>
                <script>
                    function deleteBlog(blogId) {
                        fetch(`/delete/${blogId}`, { method: "DELETE" })
                            .then(() => window.location.reload())
                            .catch((err) => {
                                console.error("An error occured during the deletion process ", err);
                            })
                    }
                    /*
                    async function deleteBlog(blogId) {
                        try {
                            await fetch(`/delete/${blogId}`, { method: "DELETE" });
                            window.location.reload();
                        } catch (err) {
                            console.error("An error occurred during the deletion process ", err);
                        }
                    }

                    */

                    function editBlog(blogId) {
                        // Redirect to the edit page with the blog ID
                        window.location.href = `/edit/${blogId}`;
                    }
                </script>

                <%- include("partials/footer.ejs") %>